// Microsoft Visual C++ generated resource script.
//
#include <Windows.h>
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CHANGE_FIELD_TEXT DIALOGEX 0, 0, 139, 43
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,7,22,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,82,22,50,14
    EDITTEXT        IDEDIT,7,7,125,14,ES_AUTOHSCROLL
END

IDD_CHANGE_FIELD_DROPDOWN DIALOGEX 0, 0, 139, 43
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,7,22,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,82,22,50,14
    COMBOBOX        IDCOMBO,7,7,125,150,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
END

IDD_CHANGE_FIELD_CHARINFO DIALOGEX 0, 0, 357, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,7,138,64,14
    PUSHBUTTON      "Cancel",IDCANCEL,7,155,64,14
    CONTROL         "Custom1",IDMINERAL,"dnr_mineral_control",WS_TABSTOP,7,7,64,64
    CONTROL         "Custom2",IDCHARACTERPICKER,"dnr_charmap_control",WS_VSCROLL | WS_TABSTOP,78,7,272,162
    COMBOBOX        IDFOREGROUND,7,76,64,93,CBS_DROPDOWN | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDBACKGROUND,7,93,64,76,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Character:\nAttribute:",IDSELECTEDDESCRIPTION,7,114,64,17
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_CHANGE_FIELD_TEXT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 132
        TOPMARGIN, 7
        BOTTOMMARGIN, 36
    END

    IDD_CHANGE_FIELD_DROPDOWN, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 132
        TOPMARGIN, 7
        BOTTOMMARGIN, 36
    END

    IDD_CHANGE_FIELD_CHARINFO, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 350
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_CHANGE_FIELD_TEXT AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_CHANGE_FIELD_DROPDOWN AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_CHANGE_FIELD_CHARINFO AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "G:\\Programming\\Projects\\DNRSuite\\DigNRigModder\\Dig-N-Rig_Modder.ico"

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

